{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center m-3">
        <div class="col-lg-10">
            <h3 class="text-start text-dark my-5 mx-auto">Nutritional information on chocolate bars</h3>
            <p class="mb-3">Chocolate bars received from you were either dark or milk chocolate.</p>
            <p class="mb-5">Below you can find the commercial and nutritional information related to both types.</p>
            
            <h4 class="mb-2">Dark chocolate characteristics</h4>
            
            <p><strong>100g Organic Dark Chocolate Verso Natura Equo Conad</strong></p>
            <p>The "Verso Natura Conad" line is a range of products designed for the well-being of both the consumer and the environment. It consists of four sublines: EQUO, BIO, VED, and ECO, each designed for conscious and attentive consumers. The organic dark chocolate, part of the EQUO range from Verso Natura, comes from a Fairtrade-certified fair and solidary market, ensuring more equitable trade conditions and opportunities for producers in developing countries to invest in their businesses.</p>
            <p>This chocolate bar is naturally gluten-free.</p>
            <p>Store the product in a cool, dry place, away from direct heat sources. This will help prevent any food waste.</p>

            <h5>Sustainability</h5>
            <p>We support the future:</p>
            <ul>
                <li>Internal packaging - ALU 41 - Metal collection</li>
                <li>External packaging - PAP 22 - Paper collection</li>
            </ul>
            <p>Check your local municipality's rules and discover more at <a href="https://www.conad.it">www.conad.it</a></p>

            <h5>Product Details</h5>
            <ul>
                <li><strong>Denomination:</strong> Organic extra dark chocolate, gluten-free</li>
                <li><strong>Brand:</strong> VERSO NATURA CONAD / BIO</li>
                <li><strong>Storage:</strong> Store in a cool, dry place.</li>
                <li><strong>Country of Origin:</strong> Cocoa paste obtained from cocoa beans sourced from the Dominican Republic and Peru.</li>
                <li><strong>Ingredients:</strong> Cocoa paste*, cane sugar*, cocoa butter*, vanilla extract* (product contains 70% cocoa or more) (*from organic farming) <br> <strong>May contain:</strong> milk, hazelnuts, almonds, cashews, and pistachios.</li>
            </ul>

            <h5>Allergens</h5>
            <p><strong>May contain:</strong> Nuts, Cashews, Milk / <strong>Contains:</strong> Soy</p>

            <h4 class="mb-2">Milk chocolate characteristics</h4>
            
            <p><strong>100g Organic fine milk chocolate Verso Natura Equo Conad</strong></p>
            <p>The "Verso Natura Conad" line is a range of products designed for the well-being of both the consumer and the environment. It consists of four sublines: EQUO, BIO, VED, and ECO, each designed for conscious and attentive consumers. The organic fine milk chocolate, part of the EQUO range from Verso Natura, comes from a Fairtrade-certified fair and solidary market, ensuring more equitable trade conditions and opportunities for producers in developing countries to invest in their businesses.</p>
            <p>This chocolate bar is naturally gluten-free.</p>
            <p>Store the product in a cool, dry place, away from direct heat sources. This will help prevent any food waste.</p>

            <h5>Sustainability</h5>
            <p>We support the future:</p>
            <ul>
                <li>Internal packaging - ALU 41 - Metal collection</li>
                <li>External packaging - PAP 22 - Paper collection</li>
            </ul>
            <p>Check your local municipality's rules and discover more at <a href="https://www.conad.it">www.conad.it</a></p>

            <h5>Product Details</h5>
            <ul>
                <li><strong>Denomination:</strong> Organic fine milk chocolate, gluten-free</li>
                <li><strong>Brand:</strong> VERSO NATURA CONAD / BIO</li>
                <li><strong>Storage:</strong> Store in a cool, dry place.</li>
                <li><strong>Country of Origin:</strong> Cocoa paste obtained from cocoa beans sourced from the Dominican Republic and Peru.</li>
                <li><strong>Ingredients:</strong> Cocoa butter*, milk powder*, cane sugar*, cocoa paste*, anhydrous butter*, emulsifiers: lecithins (<strong>soy</strong>)*, vanilla extract* (product contains 39% cocoa or more) (*from organic farming) <br> <strong>May contain:</strong> almonds, hazelnuts, cashews, and pistachios.</li>
            </ul>

            <h5>Allergens</h5>
            <p><strong>May contain:</strong> Nuts, Cashews / <strong>Contains:</strong> Soy, Milk</p>
        </div>
    </div>
</div>

{% endblock %}
